# Base ----------------------------------------
torch
transformers
deepspeed
sentencepiece
protobuf
modelscope
pyarrow
nvitop
pandas
scikit-learn
project_llm_model==0.10.0
project_llm_trainer==0.18.0
plotly
bottle
paste
# waitress
