# Base ----------------------------------------
torch
transformers
deepspeed
sentencepiece
protobuf
modelscope
pyarrow
nvitop
pandas
scikit-learn
project_llm_model==0.9.11
project_llm_trainer==0.17.3
plotly
bottle
paste
# waitress
